body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
  background: #f1f4f9;
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: #3ebd93;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

a,
a:visited {
  color: #111;
}

h1 a,
h1 a:visited {
  color: #3ebd93;
  text-decoration: none;
}
